<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data-2010-2020.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
</head>
<body>
<div ng-controller='mainCtrl'>
<my-directive></my-directive>
</div>
<script>
app.controller('mainCtrl', function($scope) {
  var now = moment(new Date());
  $scope.currentDate = now.tz('America/New_York').format('hh:mm a');
});
app.directive("mydirective", function(){
return{
  template: "<h4>{{ currentDate }}</h4>"
  }})
    
</script>
</body>
</html>