<!DOCTYPE html>
<html>
<head>
       <title>Angular Assignment</title>
	   <style src="firstpageang.css"></style>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
</head>

<body>
	<div class="w3-top">
			<div class="w3-bar w3-black">
					<a href="firstpageang.html" class="w3-bar-item w3-button">lb to kg</a>
					<a href="secondpageang.html" class="w3-bar-item w3-button">in to m</a>
					<a href="thirdpageang.html" class="w3-bar-item w3-button">cm to m</a>
					<a href="fifthpageang.html" class="w3-bar-item w3-button">oz to lb</a>
					<a href="fifthpageang.html" style="background-color:blue;" class="w3-bar-item w3-button">celsius to fahrenheit</a>
			</div>
		</div>
	
		<div id="fifthApp">
		 <div ng-app="fifthApp" ng-controller="fifthController">
				<p>Convert weight celsius to fahrenheits</p>
		   <p>Temperature in celsius: <input type="text" ng-model="tcelsius"></p>
		   <fifth-directive></fifth-directive>
		   </div>
	</div>
	
<script>
var fifthApp = angular.module('fifthApp', []);
		fifthApp.controller('fifthController', function ($scope) {
			 $scope.tcelsius = 1;
		});      
		fifthApp.directive('fifthDirective', function() {  //define directive
		return {
			template : "<p>Temperature from celsius to fahrenheit is {{tcelsius*1.8+32}}</p>"
			}
			});
</script>
</body>
</html>
	
			