ul.breadcrumb {
				padding: 10px 16px;
				list-style: none;
				background-color: none;
			}
			ul.breadcrumb li {
				display: inline;
				font-size: 15px;
				color: lightgreen;
			}
			ul.breadcrumb li+li:before {
				padding: 8px;
				color: white;
				content: "/\00a0";
			}
			ul.breadcrumb li a {
				color: white;
				text-decoration: none;
			}
			ul.breadcrumb li a:hover {
				color: lightgreen;
				text-decoration: underline;
			}
			
