<!DOCTYPE html>
<html>
<head>
       <title>Angular Assignment</title>
	   <style src="firstpageang.css"></style>

	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
</head>

<body>
	<div class="w3-top">
			<div class="w3-bar w3-black">
					<a href="firstpageang.html" style="background-color:blue;" class="w3-bar-item w3-button">lb to kg</a>
					<a href="secondpageang.html" class="w3-bar-item w3-button">in to m</a>
					<a href="thirdpageang.html" class="w3-bar-item w3-button">cm to m</a>
					<a href="fourthpageang.html" class="w3-bar-item w3-button">oz to lb</a>
					<a href="fifthpageang.html" class="w3-bar-item w3-button">celsius to fahrenheit</a>
			</div>
		</div>
	
		<div ng-app="firstApp" ng-controller="firstController">
			<h3>Convert the weight from lbs to kgs </h3>
		<p>Weight in lbs: <input type="text" ng-model="weightlb"></p>
		<first-directive></first-directive>
		 </div>
	
<script>
	var firstApp = angular.module('firstApp', []);
			 firstApp.controller('firstController', function ($scope) {
			 $scope.weightlb = 3;
		});
			firstApp.directive('firstDirective', function() {  //define directive
			return {
				template : "<p>Weight from lb to kg is {{(weightlb)/(2.2045359)}}</p>"
				}
				});
</script>
</body>
</html>