<!DOCTYPE html>
<html>
<head>
       <title>Angular Assignment</title>
	   <style src="firstpageang.css"></style>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
</head>

<body>
	<div class="w3-top">
			<div class="w3-bar w3-black">
					<a href="firstpageang.html" class="w3-bar-item w3-button">lb to kg</a>
					<a href="secondpageang.html" class="w3-bar-item w3-button">in to m</a>
					<a href="thirdpageang.html" class="w3-bar-item w3-button">cm to m</a>
					<a href="fourthpageang.html" style="background-color:blue;" class="w3-bar-item w3-button">oz to lb</a>
					<a href="fifthpageang.html" class="w3-bar-item w3-button">celsius to fahrenheit</a>
			</div>
		</div>
	
		<div id="fourthApp">
		 <div ng-app="fourthApp" ng-controller="fourthController">
				<p>Convert weight oz to lbs</p>
		   <p>Weight in oz: <input type="text" ng-model="weightoz"></p>
		   <fourth-directive></fourth-directive>
		   </div>
	</div>
	
<script>
var fourthApp = angular.module('fourthApp', []);
		fourthApp.controller('fourthController', function ($scope) {
			 $scope.weightoz = 1;
		});      
		fourthApp.directive('fourthDirective', function() {  //define directive
		return {
			template : "<p>Weight from oz to lb is {{weightoz/16}}</p>"
			}
			});
</script>
</body>
</html>
	
			