<!DOCTYPE html>
<html>
<head>
       <title>Angular Assignment</title>
	   <style src="firstpageang.css"></style>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
</head>

<body>
	<div class="w3-top">
			<div class="w3-bar w3-black">
					<a href="firstpageang.html" class="w3-bar-item w3-button">lb to kg</a>
					<a href="secondpageang.html" style="background-color:blue;" class="w3-bar-item w3-button">in to m</a>
					<a href="thirdpageang.html" class="w3-bar-item w3-button">cm to m</a>
					<a href="fourthpageang.html" class="w3-bar-item w3-button">oz to lb</a>
					<a href="fifthpageang.html" class="w3-bar-item w3-button">celsius to fahrenheit</a>
			</div>
		</div>
	
		<div id="secondApp">
		 <div ng-app="secondApp" ng-controller="secondController">
				<p>Convert length from inches to meters</p>
		   <p>Length in inches: <input type="text" ng-model="heightin"></p>
		   <second-directive></second-directive>
		   </div>
	</div>
	
<script>
var secondApp = angular.module('secondApp', []);
		secondApp.controller('secondController', function ($scope) {
			 $scope.heightin = 100;
		});      
		secondApp.directive('secondDirective', function() {  //define directive
		return {
			template : "<p>Length from inches to meters is {{heightin*0.0254}}</p>"
			}
			});
</script>
</body>
</html>