<!DOCTYPE html>
<html>
<head>
       <title>Angular Assignment</title>
	   <style src="firstpageang.css"></style>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
</head>

<body>
	<div class="w3-top">
			<div class="w3-bar w3-black">
					<a href="firstpageang.html" class="w3-bar-item w3-button">lb to kg</a>
					<a href="secondpageang.html" class="w3-bar-item w3-button">in to m</a>
					<a href="thirdpageang.html" style="background-color:blue;" class="w3-bar-item w3-button">cm to m</a>
					<a href="fourthpageang.html" class="w3-bar-item w3-button">oz to lb</a>
					<a href="fifthpageang.html" class="w3-bar-item w3-button">celsius to fahrenheit</a>
			</div>
		</div>
	
		<div id="thirdApp">
		 <div ng-app="thirdApp" ng-controller="thirdController">
				<p>Convert length from cm to meters</p>
		   <p>Length in cm: <input type="text" ng-model="heightcm"></p>
		   <third-directive></third-directive>
		   </div>
	</div>
	
<script>
var thirdApp = angular.module('thirdApp', []);
		thirdApp.controller('thirdController', function ($scope) {
			 $scope.heightcm = 100;
		});      
		thirdApp.directive('thirdDirective', function() {  //define directive
		return {
			template : "<p>Length from cm to meters is {{heightcm/100}}</p>"
			}
			});
</script>
</body>
</html>
	
			